In [43]:
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [12]:
df_train = pd.read_csv("train_info.tsv",sep="\t")
df_test = pd.read_csv("test_info.tsv",sep="\t")
df_rank = pd.read_csv('train_rank.csv')

In [3]:
df_train.head()

,ID,title,artist_name,artist_id,composers_name,composers_id,release_time
0,1073748245,Đêm Chôn Dầu Vượt Biển,Như Quỳnh,551,Châu Đình An,5765,2017-10-01 22:07:00
1,1073751978,Mùa Thu Trong Mưa,Minh Tuyết,455,Trường Sa,100105,2017-10-01 20:58:00
2,1073835561,Rồi Ánh Trăng Tan,Lưu Bích,450,Quốc Bảo,4355,2017-11-01 18:16:00
3,1073856553,Còn Thương Rau Đắng Mọc Sau Hè,Như Quỳnh,551,Bắc Sơn,7686,2017-11-01 17:36:00
4,1073929630,Người Điên Biết Yêu,Như Loan,513,Lê Minh Kha,100466,2017-11-01 17:49:00

In [11]:
df_test.head()

,ID,title,artist_name,artist_id,composers_name,composers_id,release_time
0,1073994292,Giấc Mơ Mình Em,Minh Tuyết,455,Minh Vy,100019,2017-11-01 18:27:00
1,1074250503,Rồi 30 Năm Qua,Tâm Đoan,518,Nhật Ngân,100218,2017-10-01 22:07:00
2,1074254709,Hòa Bình Hoan Ca,"Hùng Phú, Duy Linh",18241.918,Huy Liêu,430572,2017-11-07 23:47:00
3,1074254735,Chia Tay Ngày Hè,Xuân Trường,11740,Huy Liêu,430572,2017-11-07 23:38:00
4,1074326411,Xin Gọi Nhau Là Cố Nhân,Quang Lê,828,Song Ngọc,100288,2017-10-01 21:33:00

In [13]:
df_rank.head()

           ID  label
0  1073748245      7
1  1073751978      3
2  1073835561      6
3  1073856553      2
4  1073929630      7

In [14]:
df3 = pd.merge(df_train, df_rank)

In [15]:
df3.head()

,ID,title,artist_name,artist_id,composers_name,composers_id,release_time,label
0,1073748245,Đêm Chôn Dầu Vượt Biển,Như Quỳnh,551,Châu Đình An,5765,2017-10-01 22:07:00,7
1,1073751978,Mùa Thu Trong Mưa,Minh Tuyết,455,Trường Sa,100105,2017-10-01 20:58:00,3
2,1073835561,Rồi Ánh Trăng Tan,Lưu Bích,450,Quốc Bảo,4355,2017-11-01 18:16:00,6
3,1073856553,Còn Thương Rau Đắng Mọc Sau Hè,Như Quỳnh,551,Bắc Sơn,7686,2017-11-01 17:36:00,2
4,1073929630,Người Điên Biết Yêu,Như Loan,513,Lê Minh Kha,100466,2017-11-01 17:49:00,7

In [37]:
df3.sort_values(by=["label"],ascending=False).head(10)

,ID,title,artist_name,artist_id,composers_name,composers_id,release_time,label
6600,1078179716,Sự Tích Cọp Lông Vằn,Bé Hiển Thông,607733,Khánh Trần,609200,2018-07-23 20:08:00,10
7790,1078236665,Anh Luôn Tồn Tại,Huỳnh Như,433983,Khánh Đơn,100386,2018-02-10 22:20:00,10
7784,1078236479,Làm Sao Anh Quên,Nhật Tinh Anh,2292,Cao Anh Phi,103510,2018-02-10 17:29:00,10
7785,1078236482,Hoa Núi,Minh Chi,434322,Hoàng Thúc,613964,2018-02-10 17:35:00,10
7786,1078236485,Hoa Núi (Beat),Minh Chi,434322,Hoàng Thúc,613964,2018-02-10 17:39:00,10
7787,1078236620,Em Sẽ Nhớ Mãi,Nguyên Hà,19050,"Đức Trí, Bằng Kiều",2028.1001,2018-02-10 21:03:00,10
7788,1078236656,Làm Ơn Đừng Đi,Châu Ngọc Hiếu,14362,Châu Ngọc Hiếu,14362,2018-02-10 22:10:00,10
7789,1078236664,Anh Luôn Tồn Tại (Beat),Huỳnh Như,433983,Khánh Đơn,100386,2018-02-10 22:20:00,10
7791,1078236699,Guantamera (Lần Đầu Gặp Em),Đàm Vĩnh Hưng,16,Nhạc Ngoại Lời Việt,100103,2018-02-10 22:54:00,10
7782,1078235987,Pass By (Ngang Qua),StillaD,613954,StillaD,613954,2018-01-11 00:58:00,10

In [ ]:
## Top 10

In [34]:
top=df3[df3["label"] > 7]

In [38]:
len(top)

2743

In [41]:
## get Year
def getYear(time):
    times = time.split()
    return times[0].split("-")[0]
     

## get Month
def getMonth(time):
    times = time.split()
    return times[0].split("-")[1]
                               
                            

getMonth("2018-07-23 20:08:00")

'07'

In [51]:
## Top 10 artist
top["artist_name"].value_counts().head(20)

Hoàng Minh Thắng           137
Hương Ngọc Vân              80
Hoàng Tú Minh               64
Thu Phương                  63
Trường Kha                  51
Dương Hồ Hải                43
Vũ Hoàng, Thạch Thảo        42
Kim Linh                    35
Bùi Tuyết Mai               31
Tuấn Tú                     30
Vũ Hoàng                    30
Hằng Ni                     30
Đình Phước                  28
Lm. Quang Lâm               27
Hương Ngọc Vân, Tố Đoàn     25
Hoàng Nhật Thái             21
Đức Trần                    18
Ngọc Trắng                  17
Dương Nhân Trung            17
Mạnh Hồng Nhi               17
Name: artist_name, dtype: int64

In [52]:
## Top 10 composers
top["composers_name"].value_counts().head(20)

Nhạc Ngoại Lời Việt    80
Thanh Sơn              62
Lam Phương             46
Nhạc Hoa Lời Việt      42
Hoài An                40
Vinh Sử                39
Tô Vũ Hoàng            39
Trúc Phương            35
Ngọc Sơn               29
Trần Thiện Thanh       28
Hoài Linh              24
Trịnh Công Sơn         24
Trịnh Bảo Bàng         23
Minh Vy                20
Anh Bằng               20
Châu Kỳ                19
Vũ Ngọc Toản           19
Nhiều Nhạc Sĩ          18
Phi Bằng               18
Song Ngọc              17
Name: composers_name, dtype: int64

In [ ]:
## how many hit in one month?

In [46]:
le = LabelEncoder()
# top['release_time'] = le.fit_transform(top['release_time'].astype('str'))

C:\Users\KhoaDQ1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [47]:
top.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2743 entries, 7 to 9076
Data columns (total 8 columns):
ID                2743 non-null int64
title             2743 non-null object
artist_name       2743 non-null object
artist_id         2743 non-null object
composers_name    2743 non-null object
composers_id      2743 non-null object
release_time      2743 non-null int32
label             2743 non-null int64
dtypes: int32(1), int64(2), object(5)
memory usage: 182.2+ KB

In [49]:
#  sns.barplot(x=getYear(top["release_time"].to_string()), y=top["artist_name"].value_counts(), data=top)

In [39]:
len(top_10)

932

In [36]:
top_10["artist_name"].value_counts()

Hoàng Minh Thắng              109
Dương Hồ Hải                   37
Hoàng Tú Minh                  37
Hương Ngọc Vân                 37
Thu Phương                     35
Trường Kha                     20
Đức Trần                       16
Bùi Tuyết Mai                  14
Trịnh Nhật Minh                12
Mai Kha                        12
Hương Ngọc Vân, Tố Đoàn        11
Kim Linh                       10
Đình Phước                     10
Đàm Vĩnh Hưng                  10
Hoàng Chiến                     9
Phạm Anh Duy                    9
Anh Đô                          8
Hằng Ni                         8
Võ Thiện Thanh                  8
Thế Sơn                         7
Hoàng Hoa                       7
Mai Tuấn                        7
Đan Kim                         7
Bé Hoài Ngọc                    6
Thùy Dương                      6
Cao Hoàng                       6
Vũ Vịnh Huy                     6
Nguyễn Duy Trường               6
Quang Đệ                        5
Thích Trung Đạt                 5
                             ...
Tăng Ngọc Tuyền                 1
Kiến Thành, Kim Đàm Rapper      1
Tín Nhiệm                       1
Ngô Kiến Huy, BlackBi           1
Hồ Gia Khánh                    1
Tâm Đoan                        1
Đức Lương                       1
Hoàng Lan                       1
Ali Hoàng Dương                 1
Hyo                             1
Bùi Tuyết Mai, Đông Quân        1
Y Jang Tuyn                     1
Vũ Kiên                         1
Đoàn Thái Bảo                   1
Đàm Vĩnh Hưng, Karik            1
Tiết Duy Hòa                    1
Hà Quyên                        1
Hoàng AT                        1
Trang Tạ                        1
Jay Phan, Grace                 1
Hoàng Khánh Long                1
Nguyên Sơn, Lê Mỹ Hương         1
Khởi Phong                      1
Saka Trương Tuyền               1
Hoài Nam                        1
Chung Thương T-Jo               1
Loan Châu                       1
Hà Trọng                        1
M.I.M Project                   1
Lưu Bích                        1
Name: artist_name, Length: 306, dtype: int64

In [ ]:
len(df3[df3["label"]== 10])

In [4]:
df_train.tail()

,ID,title,artist_name,artist_id,composers_name,composers_id,release_time
9073,1078514050,Xin Còn Gọi Tên Nhau,Phong Vũ,658098,Trường Sa,100105,2018-12-31 22:23:00
9074,1078514051,Delilah - Tình Hận,Phong Vũ,658098,"Nhạc Ngoại Lời Việt, Phạm Duy",100103.100109,2018-12-31 22:23:00
9075,1078514052,Tình Yêu Như Mũi Tên,Phong Vũ,658098,"Nhạc Ngoại Lời Việt, Anh Bằng",100103.100183,2018-12-31 22:23:00
9076,1078514053,Thu Hát Cho Người,Phong Vũ,658098,Vũ Đức Sao Biển,100047,2018-12-31 22:23:00
9077,1078514108,Mình Dành Cho Nhau Nỗi Buồn (Beat),"Trungg I.U, Tuấn Đinh",603401.650141,Trungg I.U,603401,2018-12-31 22:32:00

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9078 entries, 0 to 9077
Data columns (total 7 columns):
ID                9078 non-null int64
title             9078 non-null object
artist_name       9078 non-null object
artist_id         9078 non-null object
composers_name    9078 non-null object
composers_id      9078 non-null object
release_time      9078 non-null object
dtypes: int64(1), object(6)
memory usage: 496.5+ KB

In [53]:
df_train["artist_name"].value_counts().head(10)

Hoàng Minh Thắng        147
Vũ Hoàng, Thạch Thảo    120
Hương Ngọc Vân          111
Thích Trung Đạt         100
Trường Kha               98
Thu Phương               73
Hoàng Tú Minh            71
Tuấn Tú                  69
Lm. Quang Lâm            59
Diễm Thùy                56
Name: artist_name, dtype: int64

In [8]:
df_train["artist_name"].nunique()

2397

In [54]:
df_train["composers_name"].value_counts().head(19)

Nhạc Ngoại Lời Việt    178
Nhiều Nhạc Sĩ          163
Thanh Sơn              161
Lam Phương             136
Nhạc Hoa Lời Việt      122
Trúc Phương            111
Trần Thiện Thanh        89
Hoài An                 80
Vinh Sử                 78
DC Tâm                  77
Ngọc Sơn                76
Khánh Đơn               75
Thái Thịnh              74
Hàn Châu                68
Tô Vũ Hoàng             68
Giao Tiên               61
Châu Kỳ                 55
Anh Bằng                55
Phi Bằng                54
Name: composers_name, dtype: int64

In [ ]:
## Train Model

In [56]:
df_train['artist_id_'] = le.fit_transform(df_train['artist_id'].astype('str'))
df_train['composers_id_'] = le.fit_transform(df_train['composers_id']).astype('int')

In [57]:
df_test['composers_id_'] = le.fit_transform(df_test['composers_id']).astype('int')
df_test['artist_id_'] = le.fit_transform(df_test['artist_id'].astype('str'))

In [120]:
# df_train['release_time_'] = le.fit_transform(df_train['release_time'].dt.strftime("%Y%m%d %h%m%d ").astype(int))
import matplotlib.dates as mdates
df_train['release_time']= pd.to_datetime(df_train['release_time'])
df_train['release_time_']= df_train['release_time'].apply(lambda x: mdates.date2num(x))

df_test['release_time']= pd.to_datetime(df_test['release_time'])
df_test['release_time_']= df_test['release_time'].apply(lambda x: mdates.date2num(x))

In [115]:
df_train.head()

,ID,title,artist_name,artist_id,composers_name,composers_id,release_time,artist_id_,composers_id_,release_time_
0,1073748245,Đêm Chôn Dầu Vượt Biển,Như Quỳnh,551,Châu Đình An,5765,2017-10-01 22:07:00,1229,1707,736603.921528
1,1073751978,Mùa Thu Trong Mưa,Minh Tuyết,455,Trường Sa,100105,2017-10-01 20:58:00,1097,129,736603.873611
2,1073835561,Rồi Ánh Trăng Tan,Lưu Bích,450,Quốc Bảo,4355,2017-11-01 18:16:00,1089,1656,736634.761111
3,1073856553,Còn Thương Rau Đắng Mọc Sau Hè,Như Quỳnh,551,Bắc Sơn,7686,2017-11-01 17:36:00,1229,2165,736634.733333
4,1073929630,Người Điên Biết Yêu,Như Loan,513,Lê Minh Kha,100466,2017-11-01 17:49:00,1159,431,736634.742361

In [60]:
from sklearn.model_selection import train_test_split
train = df_train[['ID', 'artist_id_', 'composers_id_']]
lable = df_rank['label']
X_train, X_val, y_train, y_val = train_test_split(train, lable, test_size=0.2, random_state=7)

In [116]:
train_2 = df_train[['ID', 'artist_id_', 'composers_id_','release_time_']]

In [117]:
X_train, X_val, y_train, y_val = train_test_split(train_2, lable, test_size=0.2, random_state=7)

In [122]:
from sklearn.ensemble import RandomForestRegressor
rf_regression = RandomForestRegressor(n_estimators=200, min_samples_split= 2, random_state=101  )
rf_regression.fit(X_train, y_train)
accuracy = rf_regression.score(X_val, y_val)
print(accuracy)

0.4541545838154608

In [123]:
test = df_test[['ID', 'artist_id_', 'composers_id_','release_time_']]
y_pred = rf_regression.predict(test)
y_pred

array([4.57875   , 6.15889286, 5.3125    , ..., 3.905     , 3.745     ,
       3.725     ])

In [72]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
import numpy as np

In [66]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=101)

In [70]:
clf = KNeighborsClassifier(n_neighbors = 13)
scoring = 'accuracy'
score = cross_val_score(clf, train, lable, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.25550661 0.24889868 0.27753304 0.25110132 0.26211454 0.26101322
 0.25       0.30726872 0.25137817 0.27232635]

In [73]:
round(np.mean(score)*100, 2)

26.37

In [75]:
clf = DecisionTreeClassifier()
scoring = 'accuracy'
score = cross_val_score(clf, train, lable, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.27202643 0.26431718 0.25220264 0.28854626 0.25440529 0.30066079
 0.25       0.27753304 0.27453142 0.25578831]

In [76]:
round(np.mean(score)*100, 2)

26.9

In [77]:

scoring = 'accuracy'
score = cross_val_score(clf, train, lable, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.25330396 0.26651982 0.27422907 0.27753304 0.27092511 0.28854626
 0.24559471 0.2753304  0.26681367 0.26901874]

In [94]:
param_grid = {
                "n_estimators":[1, 5, 10, 20, 50, 100, 200, 500],
                
             }

In [95]:
from sklearn.model_selection import GridSearchCV
clf = RandomForestClassifier()

grid_clf = GridSearchCV(clf, param_grid, cv=10)
grid_clf.fit(X_train, y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': [2, 5, 7, 9],
                         'n_estimators': [1, 5, 10, 20, 50, 100, 200, 500]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [96]:
grid_clf.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=9, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [97]:
grid_clf.best_score_

0.2590195538419168

In [98]:
grid_clf.best_params_

{'max_depth': 9, 'n_estimators': 500}

In [99]:
from sklearn.model_selection import RandomizedSearchCV

In [100]:
param_random = {
    "n_estimators":[1, 5, 10, 20, 50, 100, 200, 500]
}
model = RandomForestClassifier()
# Create random cv model
randcv = RandomizedSearchCV(estimator = model, param_distributions = param_random)

# Train model
randcv.fit(X_train, y_train)

C:\Users\KhoaDQ1\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\KhoaDQ1\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:266: UserWarning: The total space of parameters 8 is smaller than n_iter=10. Running 8 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)

RandomizedSearchCV(cv='warn', error_score='raise-deprecating',
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators='warn',
                                                    n_jobs=None,
                                                    oob_score=False,
                                                    random_state=None,
                                                    verbose=0,
                                                    warm_start=False),
                   iid='warn', n_iter=10, n_jobs=None,
                   param_distributions={'n_estimators': [1, 5, 10, 20, 50, 100,
                                                         200, 500]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [101]:
randcv.best_score_

0.2564031947122005

In [93]:
# Random Forest Score
round(np.mean(score)*100, 2)

13.52

In [79]:
clf = GaussianNB()
scoring = 'accuracy'
score = cross_val_score(clf, train, lable, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.13986784 0.12444934 0.16409692 0.16409692 0.15198238 0.14647577
 0.16079295 0.16629956 0.15656009 0.1598677 ]

In [80]:
# Naive Bayes Score
round(np.mean(score)*100, 2)

15.34

In [82]:
clf = SVC()
scoring = 'accuracy'
score = cross_val_score(clf, train, lable, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

C:\Users\KhoaDQ1\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\KhoaDQ1\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\KhoaDQ1\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\KhoaDQ1\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\KhoaDQ1\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\KhoaDQ1\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\KhoaDQ1\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\KhoaDQ1\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\KhoaDQ1\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\KhoaDQ1\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

[0.14977974 0.14317181 0.13215859 0.14427313 0.10352423 0.14647577
 0.14317181 0.12114537 0.13561191 0.1323043 ]

In [83]:
round(np.mean(score)*100,2)

13.52

In [ ]:
clf = SVC()
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

In [126]:
submission = pd.DataFrame({
        "A": test["ID"],
        "B": y_pred
    })

submission.to_csv('submission.csv', index=False)

In [127]:
submission = pd.read_csv('submission.csv')
submission.head()

            A         B
0  1073994292  4.578750
1  1074250503  6.158893
2  1074254709  5.312500
3  1074254735  5.442500
4  1074326411  3.596667